
# Large raster files (downloaded from Zenodo)
01_data/module5/*.tif

# Output map rasters (too large for GitHub, regenerate from scripts)
03_outputs/module5/maps/

.Rproj.user
.Rhistory
.Ruserdata
.DS_Store

.Rproj
02_scripts/module3/modelling_&_mapping.R
02_scripts/module3/draft.R
*.tif

02_scripts/module3/_setup_chunk_ch3.Rmd
02_scripts/module3/generate_chapter_figures_m3.R
